.heroCon {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.log {
  width: 70%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transform: translateY(-100%);
  height: auto;
  animation: top-down 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 forwards;
}

.hero {
  z-index: 2;
  pointer-events: none;
  height: 150%;
  width: auto;
  position: absolute;
  transform: translateY(100%);
  animation: bottom-up 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 forwards;
}

.about {
  background-color: yellow;
}

@keyframes top-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bottom-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(10%);
  }
  
}

@media screen and (max-width: 768px) {
  .log{
    display: none;
  }
}