.navbar {
    display: flex;
    align-items: center;
    background-color: #c10101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
}

.navbarList {
    display: flex;
    gap: 1rem;
    color: white;
    list-style-type: none;
    font-weight: 700;
    font-size: medium;
    flex-wrap: wrap;
}

.navbarList li a {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 4px 0; 
    display: inline-block;
    text-align: center;
}

.navbarList li a::before {
    content: "";
    position: absolute;
    width: 0%;
    background-color: white;
    height: 2px;
    bottom: 0;
    left: 50%;
    transition: width 0.5s ease-in-out;
    transform: translateX(-50%);
}

.navbarList li a:hover::before {
    width: 100%;
}

.logoimg {
    width: 100px;
    height: 100px;
}
