.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #c10101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
}

.logoimg {
    width: 100px;
    height: 100px;
}

.navbarList {
    display: flex;
    gap: 2rem;
    color: white;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: larger;
}

.navbarList li a {
    text-decoration: none;
    color: white;
}

.navbarList li a:hover {
    color: red;
    cursor: pointer;
    transition: 0.5s;
}
.hamburger {
    display: none;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        z-index: 999;
    }

    .navbarList {
        position: fixed;
        right: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: #c10101;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding-top: 120px;
        height: 100vh;
    }

    .navbarList li {
        margin: 16px 0;
    }

    .navbarList.active {
        right: 0;
    }
}