*{
    margin: 0;
    padding: 0;
}

section{
    min-height: 100vh;
}

section h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

body{
    background-image: url('/logo/R.jpg');
    background-size: cover;
    background-color: white;
}