.intro {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  padding: 20px;
}
.allcards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.moon {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: red;
  position: absolute;
  align-items: center;
}

.card {
  margin: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  max-width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  animation: card-in 1s 1;
}

.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

.card:hover .con {
  transform: translateY(0);
}

.card .con {
  position: absolute;
  padding: 10px;
  background-color: black;
  color: white;
  width: calc(100% - 20px);
  height: 100%;
  transform: translateY(100%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s;
}

.card .con h1 {
  padding: 0;
  margin: 0;
  color: white;
}

.card .con a {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: red;
  border-radius: 5px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading .loadimg {
  width: 50%;
  height: auto;
  z-index: 100;
}

@keyframes card-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .allcards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 30px 0;
  }


  .moon{
    height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: red;
  position: absolute;
  align-items: center;
  }
}
