.con {
  padding: 20px;
}

.con {
  font-size: 1.1em;
}

.con img {
  width: auto;
  height: 500px;
  object-fit: cover;
}

.con ol {
  list-style: decimal;
  padding-left: 50px;
}

.con ol li {
  padding: 5px 0px;
}

.con ul {
  list-style: none;
  padding-left: 50px;
}

.con ul li::before {
  content: "🌸";
  margin-right: 8px;
  font-size: 1em;
}

.con ul li {
  padding: 5px 0;
}

.apply {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.apply a {
  text-decoration: none;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: #c10101;
  color: white;
}

